@import "../base/main";
@import "../base/iconfont";

.tool-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 96rpx;
  padding: 0 30rpx;
  transition: all .3s;
  &.stick {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2rpx solid colors('border');
  }
  &.stick.toolBoxHide {
    bottom: -126rpx;
  }
  > .tool-left {
    font-size: ftSize('main');
    color: colors('sub');
    > .date {
      //vertical-align: middle;
    }
    > .comment-btn {
      border-radius: 10rpx;
      border: 1px solid colors('C0C4CC');
      padding: 10rpx 50rpx 10rpx 20rpx;
      background: colors('white');
      //vertical-align: middle;
    }
  }

  > .tool-right {
    color: colors('sub');
    > .function {
      display: inline-block;
      position: relative;
      margin-right: 60rpx;
      &:last-of-type {
        margin-right: 0;
      }
      &.activate {
        color: #ff3300;
      }
      > .iconfont {
        font-size: ftSize('title');
        vertical-align: middle;
      }

      > .count {
        position: absolute;
        left: 38rpx;
        top: -8rpx;
        font-size: ftSize('sub');
      }
    }
  }
}