%clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}
%overflowClip {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
%overflowClipTwo {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}