@font-face {
  font-family: 'iconfont';  /* project id 1378954 */
  src: url('//at.alicdn.com/t/font_1378954_bui97bsmd8l.eot');
  src: url('//at.alicdn.com/t/font_1378954_bui97bsmd8l.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1378954_bui97bsmd8l.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1378954_bui97bsmd8l.woff') format('woff'),
  url('//at.alicdn.com/t/font_1378954_bui97bsmd8l.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1378954_bui97bsmd8l.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcart:before {
  content: "\e6af";
}

.iconcart_active:before {
  content: "\e6b9";
}

.iconme:before {
  content: "\e78b";
}

.iconme_active:before {
  content: "\e78c";
}

.iconlove:before {
  content: "\e618";
}

.iconpicture:before {
  content: "\e669";
}

.iconarrow-right:before {
  content: "\e636";
}

.iconpause:before {
  content: "\e7a9";
}

.iconshare:before {
  content: "\e661";
}

.iconfavor:before {
  content: "\e7e1";
}

.iconorder_active:before {
  content: "\e7e6";
}

.iconorder:before {
  content: "\e7e7";
}

.iconfavor_active:before {
  content: "\e7ec";
}

.iconloading:before {
  content: "\e62e";
}

.iconvideo:before {
  content: "\e602";
}

.iconcomment:before {
  content: "\e63b";
}

.iconall:before {
  content: "\e62c";
}

.iconall_active:before {
  content: "\e62d";
}

.iconplay:before {
  content: "\e622";
}
